## ========================================================================================================
## .gitignore: A generic .gitignore file for GitHub repositories.
## b220829.104016
## https://github.com/APrettyCoolProgram/my-development-environment
## Copyright (c) 2021-2022 A Pretty Cool Program (see LICENSE file for more information)
## ========================================================================================================

## ========================================================================================================
## This is the .gitignore file I use when developing C# code.
##
## A few things to keep in mind:
##  - Be careful when uncommenting directory wildcards. For example, if you have code in a directory
##    named "Logs/", and the "[Ll]ogs/" entry is uncommented, the "Logs/" folder - and any code contained
##    within - will not be committed to the repository.
##  - By default, many settings are commented out to ensure there aren't any crazy issues.
## ========================================================================================================

## --------------------------------------------------------------------------------------------------------
## A Pretty Cool Program
## These are settings that I use for development.
## --------------------------------------------------------------------------------------------------------

## If your project has data that you need locally, but don't want to commit to the repository, you can put
## that data in a directory named ".non-committal", and uncomment this line to exclude it.
#.non-committal/

## If you develop on a Mac, leave this uncommented to exclude any DS_Store files.
*DS_Store

## --------------------------------------------------------------------------------------------------------
## Visual Studio
## Settings for Visual Studio 2022 Community.
##  - Ignore temporary files, build results, and various other files generated by Visual Studio.
##
## Also see:
##  - https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
##  - https://www.toptal.com/developers/gitignore/api/csharp
## --------------------------------------------------------------------------------------------------------

## User-specific files/directories
## It's recommended that you leave these uncommented.
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
.vs/

## Build components
## It's recommended that you leave these uncommented.
[Bb]ld/
[Bb]in/
[Oo]bj/

## Debug components
## These are commented by default, uncomment if you need to exclude this data.
#[Dd]ebug/
#[Dd]ebugPublic/

## Release comonents
## These are commented by default, uncomment if you need to exclude this data.
#[Rr]elease/
#[Rr]eleases/

## Platform specific
## These are commented by default, uncomment if you need to exclude this data.
#x64/
#x86/
#[Ww][Ii][Nn]32/
#[Aa][Rr][Mm]/
#[Aa][Rr][Mm]64/

## Logs
## These are commented by default, uncomment if you need to exclude this data.
#[Ll]og/
#[Ll]ogs/

## Click-Once directory
## These are commented by default, uncomment if you need to exclude this data.
#publish/

## NuGet
## These are commented by default, uncomment if you need to exclude this data.
## Includes:
##  - Packages (*.nupkg)
##  - Symbol Packages (*.snupkg)
##  - Packages folder, since Package Restore exists (**/[Pp]ackages/*) 
##      - But not /build which is used as an MSBuild target! (!**/[Pp]ackages/build/)
##  - project.json files (*.nuget.props, *.nuget.targets)
#*.nupkg
#*.snupkg
#**/[Pp]ackages/*
#!**/[Pp]ackages/build/
#*.nuget.props
#*.nuget.targets

## .NET Core
## These are commented by default, uncomment if you need to exclude this data.
#project.lock.json
#project.fragment.lock.json
#artifacts/

## Files built by Visual Studio
## These are commented by default, uncomment if you need to exclude this data.
#*_i.c
#*_p.c
#*_h.h
#*.ilk
#*.meta
#*.obj
#*.iobj
#*.pch
#*.pdb
#*.ipdb
#*.pgc
#*.pgd
#*.rsp
#*.sbr
#*.tlb
#*.tli
#*.tlh
#*.tmp
#*.tmp_proj
#*_wpftmp.csproj
#*.log
#*.tlog
#*.vspscc
#*.vssscc
#.builds
#*.pidb
#*.svclog
#*.scc